---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.logo {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

body {
    font: 14px/1.5 "Merriweather", serif;
}

$bg: #fff;
$text: #2e2e2e;
$blue: #2c2fe8;
$darkblue: darken($blue, 10%);

.link {
    position: relative;
    transition: clip-path 275ms ease;
    &:hover span::before, &:focus span::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    span {
      position: relative;
      display: inline-block;
      color: $blue;
      &::before {
            position: absolute;
            content: attr(data-content);
            color: $darkblue;
            text-decoration: underline;
            text-decoration-color: $darkblue;
            clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
            transition: clip-path 275ms ease;
        }
    }
}
  
span.dotted::before {
    text-decoration-style: dotted;
}

span.dashed::before {
    text-decoration-style: dashed;
}

span.double::before {
    text-decoration-style: double;
}

span.wavy::before {
    text-decoration-style: wavy;
}

span.line-through::before {
    text-decoration-line: line-through;
}