@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.logo {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

body {
    font: 14px/1.5 "Merriweather", serif;
}