---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

.logo {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

body {
    font: 14px/1.5 "Merriweather", serif;
}

.link {
    position: relative;
    transition: clip-path 275ms ease;
}
.link:hover span::before, .link:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.link span {
    position: relative;
    display: inline-block;
    color: blue;
}
.link span::before {
    position: absolute;
    content: attr(data-content);
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
}